# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
bwm-ng/dist
bwm-ng/dist-server
bwm-ng/tmp
bwm-ng/out-tsc

# dependencies
bwm-ng/node_modules

# IDEs and editors
bwm-ng/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
bwm-ng/.sass-cache
bwm-ng/connect.lock
bwm-ng/coverage
bwm-ng/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
bwm-ng/typings

# e2e
bwm-ng/e2e/*.js
bwm-ng/e2e/*.map

# System Files
.DS_Store
Thumbs.db

#Secrets
bwn-ng/server/config/dev.js
bwm-ng/server/config/prod.js
